
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

section {
    padding: 60px 20px;
    text-align: center;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #003366;
    color: white;
    position: sticky;
    flex-wrap: wrap;
    top: 0;
    z-index: 1000;
    font-size: large;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 10px 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.hero {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                url('teacher.jpg');
    background-size: cover;
    color: white;
   min-height:60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}
.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    max-width: 90%;
}
.hero-btn{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
.btn {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    background-color: #ffcc00;
    font-weight: bold;
}

.about{
    padding: 50px 20px;
}
.mission-vision {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    text-wrap: wrap;

}

.box {
    border: 3px solid #111111;
    padding: 30px;
    margin-bottom: 15px;
    flex: 1;
    max-width: 450px;
    background-color: antiquewhite;
    border-radius: 12px;
    min-width: 180px;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.card {
    border: 3px solid #090909;
    padding: 20px;
    width: 300px;
    height:200px ;
    border-radius: 10px;
    background: #e0ddb1;
    margin-top: 10px;
}


.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    border-radius: 10px;
    
    }

.gallery-grid img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid #003366; 
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.contact-form input, textarea {
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}


footer {
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}